.atumalaca{

    background-color: black;
    color: white;
    font-size: 80px;
}

body{
    background-color: gray;
    width: 100%;
}

.coluna1{
background-color: green;
width: 30%;
height: 100vh;
text-align: center;
display: flex;
flex-direction: column;
}

.coluna2{
    background-color: greenyellow;
    width: 30%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    }

.org{
    display: flex;
    justify-content: space-around;
}